<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="style.css">

<title>My first HTML</title>
</head>
<body> 
<h1>Welcome to ALPHA BLOG</h1>
<%= link_to 'About', about_path%>
<%= link_to 'Alpha Blog', articles_path%>
<br>
 <center>
	<hr width="1200" height="250">
	<img src="Liverpool.jpg" alt="SampleImage" width="1200" height="250" align="middle">
	<hr width="1200" height="250"> 
 </center>

 <table align="">
 <tr>
	<td><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
	commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
	et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
	felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla 
	consequat massa quis enim. Donec pede justo, fringilla vel, 
	aliquet nec
	</p></td>
	<td><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
	commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
	et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
	felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla 
	consequat massa quis enim. Donec pede justo, fringilla vel, 
	aliquet nec
	</p></td>
 </tr>
</table>
</body>
</html>
