body {
    background-color:black;
}

h1 {
	text-align:center;
    color: white;
}

table {
   
	text-align: left;
	color: white;
	width:90%;
	height:100%;
	
}
td{
	border: 0.5px solid white;
	border-collapse: collapse;
}
